
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family: "Mulish", sans-serif;
    height: 100vh;
}
.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 56px 180px;
}
.header{
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
}
.navbar-nav li a{
    font-size: 18px;
    line-height: 23px;
    color: #1f1534;
    opacity: 0.5;
    margin: 0 20px;
}
.navbar-nav li a.active{
    font-weight: bold;
    opacity: 1;
    color: black;
}

/* .element{
    position: absolute;
    top: 160px;
    left:0;
    width: 132px;
    height: 115px;
    background-position:left;
    background-size:auto;

      
      }
  */
.container h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.container p{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7d7987;
   
}

.service{
    background: url("../bootstrap/images/Frame\ \(5\).svg") no-repeat top -185px left -6.18%;background-position:center left; background-size:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-title{
    font-style: normal;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    margin: 0;
}
.service-line{
    align-self: center;
}
.service-description{
    margin-top: 32px;
    font-weight: 300;
    color: #7d7987;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.imgs{
    height: 90px;
    
}

.providers-description{
    color: #7D7987;
    font-weight:300;
    font-size: 18px;
    max-width: 450px;
    max-height: 120px;
    line-height: 30px;
}
.apps p{
    color: #7D7987;
    font-weight: 300;
    font-size: 18px;
}
.bg-primary-gradient {
    background: -o-linear-gradient(241.82deg, #67C3F3 9.05%, #5A98F2 76.74%);
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  }
  .customer-img{
    border-radius: 82px;
    border: 3px solid ;
  
}
.img-dot{
    background-position:right top;
    background-size:auto;
    margin-left:-30px;
    margin-top:10px;
   
}