
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family: "Mulish", sans-serif;
    height: 100vh;
}


.service{
    padding-top: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rectangleline{
    align-self: center;
}
.service-description{
    font-weight: 300;
    color: #7d7987;
    font-size: 15px;
    line-height: 30px;
}


.bg-primary-gradient {
    background: -o-linear-gradient(241.82deg, #67C3F3 9.05%, #5A98F2 76.74%);
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  }
  .customer-image{
    border-radius: 50%;
    border: 3px solid #FFFFFF;
}
.article {
    margin-top: 110px;
}